h1{
    font-size: 20;
    text-align: center;
    font-family:Raleway
}
#btapo{
    align-content: center;
    position: absolute;
    left:25%;
    width:250px;
    height: 50px;
    font-size: 18px;
}

#btcv{
    align-content: center;
    position: absolute;
    right:25%;

    width:250px;
    height: 50px;
    font-size: 18px;


}

.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }
