h1{
    font-size: 20;
    text-align: center;
    font-family:Raleway;
    margin-left: 20%;
    color:whitesmoke;
    animation: 1s ease-out 0s 1 onload;
}

button{
    background-color:#fdce37; 
    color:#241746;
    display:block;
    animation: 1s ease-out 0s 1 onload;
}
.buttoncontainer{
    
    display:flex;
    width: 80%;
    margin-left: 20%;
    justify-content:space-between;
}
a{
    text-decoration: none;
}
#btapo{
    align-content: center;
    width:250px;
    height: 50px;
    font-size: 18px;
    margin-right: 10%;
}

#btcv{
    align-content: center;
    width:80%;
    height: 50px;
    font-size: 18px;
    margin-left: 10%;
}

.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }
img{
  
    display: block;
    width: 70%;
    height: 70%;
    animation: 1s ease-in 0s 1 onload;
}
#mainimage{
  
    width: 80%;
justify-content: center;
    display: flex;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
    opacity:1;
  
}

@keyframes onload {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}



