<h1>
  EPSI MONTPELLIER
</h1>
<div class = "image-container">
<div id='left-image'>
    <img src='../../assets/img/Ext-APOTH.jpg'>
      <p>Bâtiment principal</p>
      <p>437 avenue des Apothicaires, 34090 Montpellier.</p>
  </div>
  <div id='right-image'>
      <img src='../../assets/img/Ext-CROIXVERTE.jpg'>
      <p>Bâtiment annexe</p>
    <p>1027 rue de la Croix-Verte, 34090 Montpellier.</p>
    </div>
  </div>
  <br><br><br><br>
  <br><br>
<div class='buttoncontainer'>
    <button mat-button id="btcv" a routerLink="/visit" routerLinkActive="active"><a>Visiter l'EPSI</a></button>
</div>


