<div class="sidebar">
  <div class="sidebar-content">
    <div class="header">
      <img routerLink="/homePage" routerLinkActive="active" id='logo' src='../../assets/img/logo.svg'><a routerLink="/homePage" routerLinkActive="active"></a>
    </div>
    <ul class="list">
      <li *ngFor="let item of menuItems ; let i = index" class="list-item" (click)="itemInfo(i)"><a routerLink={{item.route}}
          routerLinkActive="active">{{item.label}}</a></li>
    </ul>
    <a routerLink="/homePage" routerLinkActive="active">Retour à l'accueil</a>
  </div>
</div>