<div class="sidebar">
  <div class="sidebar-content">
    <div class="header">
      <img id='logo' src='../../assets/img/logo.svg'>
      
      <button class="close" (click)="sidebarOpen=false"><img id='burger'src="../../assets/img/times.svg" width="30px" height="30px"></button>
    </div>
    <ul *ngFor="let menuItem of menuItems" class="list">
      <label class="list-title">{{menuItem.label}}</label>
      <li *ngFor="let item of menuItem.listItems" class="list-item"><a routerLink="/visit" routerLinkActive="active">{{item}}</a></li>
    </ul>
  </div>
</div>
