<div class="page-content">
<h1>Formations</h1>
<div class="p">
  Une Formation informatique, un cursus complet pour toutes les ambitions <br><br>

  L’EPSI est une école d’informatique qui propose des programmes de Bac à Bac+5 et de la formation continue. <br><br>

  Quel que soit votre profil ou votre situation, vous pouvez accéder à la formation informatique et à un des programmes
  EPSI en admission directe ou en admission parallèle.<br><br>

  La formation informatique de l’EPSI se compose de deux cycles :<br><br>

  <img src="../assets/img/panorama-epsi.png" align="middle">

  <ul>
    <li>1er CYCLE : Le programme Bachelor informatique, prépare les apprenants à un titre de niveau II (Bac +3/4)
      certifié par le RNCP . <br>
      Les élèves peuvent également présenter le BTS SIO (Services Informatiques aux Organisations) afin de sécuriser
      leur parcours.<br><br></li>

    <li>2nd CYCLE : Le programme Ingénierie informatique prépare les apprenants à un titre de niveau I (Bac+5) « Expert
      en informatique et système d’information » certifié par le RNCP.<br><br>
    </li>
  </ul>
  À partir de la 3ème année, les apprenants peuvent suivre leur formation informatique en initial ou par alternance.<br><br>



</div>