.page-content{
    margin-top: auto;
    margin-bottom: auto;
    margin-left:20%;
    display:flex;
    flex-direction: column;
    text-align: center;
}
h1{
    display:block
}
.image{
    display:flex;
    flex-direction: column;
    margin-right: auto;
    margin-left:auto;
    width:1000px;
    height:800px;
    background-color: black;
}
.arrow-top{
    position: absolute;
    margin-top: 1%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

.panorama {
    position: relative;
    height: 600px;
    overflow-x: scroll;
    overflow-y: hidden;
    
}
.test{
    height: 100%;
}